.color-picker {
    text-align: center;
  }
  
  .color-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
  }
  
  .color-square {
    width: 30px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
  }
  
  button {
    margin-bottom: 10px;
  }
  